In [5]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import psycopg2
from sqlalchemy import create_engine

import altair as alt
from vega import VegaLite

# Create DataFrame from xlsx

In [6]:
# import the XLS file to create a dataframe
data = pd.read_excel('online_retail.xlsx')

In [7]:
data.columns = ['invoice_no','stock_code', 'description','quantity','invoice_date',\
                'unit_price', 'customer_id', 'country']

In [8]:
# data.columns = data.columns.toLower()

In [9]:
# Print head
data.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

# Connect to PostgreSQL

In [10]:
# establish connections
conn_string = 'postgresql://newuser:password@localhost/eshopdb'
  
db = create_engine(conn_string)
conn = db.connect()
conn1 = psycopg2.connect(
    database="eshopdb",
  user='newuser', 
  password='password', 
  host='localhost', 
  port= '5432'
)
  
conn1.autocommit = True
cursor = conn1.cursor()
  
# drop table if it already exists
cursor.execute('drop table if exists eshop_transactions')

### Send dataframe called data to PostgreSQL

In [11]:
data.to_sql('eshop_transactions', conn, if_exists= 'replace')

909

### Select top 10 rows to test and print

In [12]:
# fetching top10 rows
sql1='''select * from eshop_transactions LIMIT 10;'''

cursor.execute(sql1)

# prints tupples
for i in cursor.fetchall():
    print(i)

(0, '536365', '85123A', 'WHITE HANGING HEART T-LIGHT HOLDER', 6, datetime.datetime(2010, 12, 1, 8, 26), 2.55, 17850.0, 'United Kingdom')
(1, '536365', '71053', 'WHITE METAL LANTERN', 6, datetime.datetime(2010, 12, 1, 8, 26), 3.39, 17850.0, 'United Kingdom')
(2, '536365', '84406B', 'CREAM CUPID HEARTS COAT HANGER', 8, datetime.datetime(2010, 12, 1, 8, 26), 2.75, 17850.0, 'United Kingdom')
(3, '536365', '84029G', 'KNITTED UNION FLAG HOT WATER BOTTLE', 6, datetime.datetime(2010, 12, 1, 8, 26), 3.39, 17850.0, 'United Kingdom')
(4, '536365', '84029E', 'RED WOOLLY HOTTIE WHITE HEART.', 6, datetime.datetime(2010, 12, 1, 8, 26), 3.39, 17850.0, 'United Kingdom')
(5, '536365', '22752', 'SET 7 BABUSHKA NESTING BOXES', 2, datetime.datetime(2010, 12, 1, 8, 26), 7.65, 17850.0, 'United Kingdom')
(6, '536365', '21730', 'GLASS STAR FROSTED T-LIGHT HOLDER', 6, datetime.datetime(2010, 12, 1, 8, 26), 4.25, 17850.0, 'United Kingdom')
(7, '536366', '22633', 'HAND WARMER UNION JACK', 6, datetime.datetime(2010, 12, 1, 8, 28), 1.85, 17850.0, 'United Kingdom')
(8, '536366', '22632', 'HAND WARMER RED POLKA DOT', 6, datetime.datetime(2010, 12, 1, 8, 28), 1.85, 17850.0, 'United Kingdom')
(9, '536367', '84879', 'ASSORTED COLOUR BIRD ORNAMENT', 32, datetime.datetime(2010, 12, 1, 8, 34), 1.69, 13047.0, 'United Kingdom')

## Create new table with clean data

In [13]:
# No null customer_id
# We need full months so invoice_date < '2011-12-01'
# Calculate new column revenue = quantity * unit_price'

sql2='''
select
        customer_id
        ,invoice_no
        ,invoice_date
        ,round(cast(quantity * unit_price as numeric),2) as revenue
        ,description
        ,quantity 
        ,unit_price
        ,country
from eshop_transactions
where customer_id is not null
and invoice_date < '2011-12-01'

limit 10;
'''

cursor.execute(sql2)

# for i in cursor.fetchall():
#     print(i)
    
clean_table = cursor.fetchall()

In [14]:
# turns table into pandas (just to check)

clean_df = pd.DataFrame(clean_table,columns = ['customer_id','invoice_no', 
'invoice_date','revenue','description','quantity','unit_price',
'country'])

clean_df.head()

,customer_id,invoice_no,invoice_date,revenue,description,quantity,unit_price,country
0,17850.0,536365,2010-12-01 08:26:00,15.30,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,United Kingdom
1,17850.0,536365,2010-12-01 08:26:00,20.34,WHITE METAL LANTERN,6,3.39,United Kingdom
2,17850.0,536365,2010-12-01 08:26:00,22.00,CREAM CUPID HEARTS COAT HANGER,8,2.75,United Kingdom
3,17850.0,536365,2010-12-01 08:26:00,20.34,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,United Kingdom
4,17850.0,536365,2010-12-01 08:26:00,20.34,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,United Kingdom

## Create new aggregated table by invoice and customer id

In [15]:
# group by invoice and customer_id where revenue = sum(revenue), quantity = sum(quantity), 
# invoice_date = max(invoice_date)

sql3='''
with cte as
(
select
        customer_id
        ,invoice_no
        ,invoice_date
        ,round(cast(quantity * unit_price as numeric),2) as revenue
        ,description
        ,quantity 
        ,unit_price
        ,country
from eshop_transactions
where customer_id is not null
and invoice_date < '2011-12-01'


)


select
        customer_id
        ,invoice_no
        ,max(invoice_date) as invoice_date
        ,cast(sum(revenue) as numeric) as invoice_revenue
        ,round(sum(quantity),2) as quantity
        ,round(sum(revenue) / sum(quantity),2) as avg_item_price
        ,country
from cte
group by customer_id, invoice_no, country

;
'''

cursor.execute(sql3)

# for i in cursor.fetchall():
#     print(i)
    
agg_table = cursor.fetchall()

In [16]:
# send table to database and turns it into pandas (just to check)

agg_df = pd.DataFrame(agg_table,columns = ['customer_id','invoice_no', 
'invoice_date','invoice_revenue','quantity','avg_item_price','country'])

agg_df.to_sql('eshop_agg', conn, if_exists= 'replace')

agg_df.head()

,customer_id,invoice_no,invoice_date,invoice_revenue,quantity,avg_item_price,country
0,12346.0,541431,2011-01-18 10:01:00,77183.60,74215.00,1.04,United Kingdom
1,12346.0,C541433,2011-01-18 10:17:00,-77183.60,-74215.00,1.04,United Kingdom
2,12347.0,537626,2010-12-07 14:57:00,711.79,319.00,2.23,Iceland
3,12347.0,542237,2011-01-26 14:30:00,475.39,315.00,1.51,Iceland
4,12347.0,549222,2011-04-07 10:43:00,636.25,483.00,1.32,Iceland

## Create table per customer with key metrics

In [17]:
# - revenue_max (per purchase)
# - revenue_min
# - num_purchases
# - invoice_date_min
# - invoice_date_max
# - invoice_purchase_timerange
# - invoice_purchase_frequency

sql4='''
with cte1 as
(
select
        customer_id
        ,invoice_no
        ,invoice_date
        ,round(cast(quantity * unit_price as numeric),2) as revenue
        ,description
        ,quantity 
        ,unit_price
        ,country
from eshop_transactions
where customer_id is not null
and invoice_date < '2011-12-01'


),

cte2 as(
select
        customer_id
        ,invoice_no
        ,max(invoice_date) as invoice_date
        ,sum(revenue) as invoice_revenue
        ,round(sum(quantity),2) as num_items
        ,round(sum(revenue) / sum(quantity),2) as avg_item_price
        ,country
from cte1
group by customer_id, invoice_no, country

)

select 
        customer_id
        ,max(invoice_date)
        ,min(invoice_date)
        ,max(invoice_revenue)
        ,min(invoice_revenue)
        ,round(avg(invoice_revenue),2)
        ,count(invoice_no)
        ,cast(max(invoice_date)::date - min(invoice_date)::date as numeric) as invoice_purchase_timerange
        ,case when cast(max(invoice_date)::date - min(invoice_date)::date as numeric) = 0 then 0
        else round(cast(max(invoice_date)::date - min(invoice_date)::date as numeric) / count(invoice_no),2) end as invoice_purchase_frequency
from cte2
group by customer_id

;
'''

cursor.execute(sql4)

# for i in cursor.fetchall():
# print(i)
    
cust_table = cursor.fetchall()

In [18]:
# send table to database and turns it into pandas (just to check)

cust_df = pd.DataFrame(cust_table,columns = ['customer_id','max_invoice_date', 
'min_invoice_date','max_invoice_revenue','min_invoice_revenue','avg_invoice_revenue','count_invoice_no','invoice_purchase_timerange','invoice_purchase_frequency'])

cust_df.to_sql('eshop_cust', conn, if_exists= 'replace')

cust_df.head()

,customer_id,max_invoice_date,min_invoice_date,max_invoice_revenue,min_invoice_revenue,avg_invoice_revenue,count_invoice_no,invoice_purchase_timerange,invoice_purchase_frequency
0,12346.0,2011-01-18 10:17:00,2011-01-18 10:01:00,77183.60,-77183.60,0.00,2,0,0
1,12347.0,2011-10-31 12:25:00,2010-12-07 14:57:00,1294.32,382.52,680.86,6,328,54.67
2,12348.0,2011-09-25 13:13:00,2010-12-16 19:09:00,892.80,227.44,449.31,4,283,70.75
3,12349.0,2011-11-21 09:51:00,2011-11-21 09:51:00,1757.55,1757.55,1757.55,1,0,0
4,12350.0,2011-02-02 16:01:00,2011-02-02 16:01:00,334.40,334.40,334.40,1,0,0

## Create top 10 items by revenue

In [19]:

sql5='''
select
        description
        ,sum(quantity)*unit_price as revenue_item
        ,sum(quantity)
        ,unit_price
from eshop_transactions
group by description, unit_price
order by sum(quantity)*unit_price  desc
limit 10;
'''

cursor.execute(sql5)

# for i in cursor.fetchall():
#     print(i)
    
top10_items_table = cursor.fetchall()

In [20]:
top10_items__df = pd.DataFrame(top10_items_table,columns = ['item','revenue_item','num_items' 
,'item_price'])
top10_items__df.to_sql('eshop_top10_items', conn, if_exists= 'replace')
top10_items__df

                                 item  revenue_item num_items  item_price
0            REGENCY CAKESTAND 3 TIER      85913.70      7846       10.95
1            REGENCY CAKESTAND 3 TIER      48399.00      3796       12.75
2  WHITE HANGING HEART T-LIGHT HOLDER      44742.30     17546        2.55
3      PICNIC BASKET WICKER 60 PIECES      39619.50        61      649.50
4       ASSORTED COLOUR BIRD ORNAMENT      37945.57     22453        1.69
5                             POSTAGE      35838.00      1991       18.00
6                  RABBIT NIGHT LIGHT      35715.87     19953        1.79
7            BLACK RECORD COVER FRAME      35150.91     10369        3.39
8                       PARTY BUNTING      33759.00      6820        4.95
9             JUMBO BAG RED RETROSPOT      33161.54     18526        1.79

## Key metrics per month

In [21]:
# total rev, total invoices, avg_purchase, avg_freq per month
# avg_freq_month erase         ,round(cast(count(distinct invoice_no) as numeric) / cast(count(distinct eagg.customer_id) as numeric),2) as avg_frequency
# avg_time_between_purchases erase
#         ,round(avg(cast(invoice_purchase_frequency as numeric)),2) as avg_time_between_purchase
# left join eshop_cust ecust on ecust.customer_id = eagg.customer_id

sql6='''
select
        date_trunc('month', invoice_date) as yearmonth
        ,sum(cast(invoice_revenue as numeric)) as total_revenue
        ,count(distinct eagg.customer_id) as total_customers
        ,count(distinct invoice_no) as total_invoices
        ,round(sum(cast(invoice_revenue as numeric))/ count(invoice_no),2)  as avg_purchase
        ,round((sum(cast(invoice_revenue as numeric))/ count(invoice_no)) / (cast(count(distinct invoice_no) as numeric) / cast(count(distinct eagg.customer_id) as numeric)),2) as customer_value

from eshop_agg eagg
group by date_trunc('month', invoice_date)
order by date_trunc('month', invoice_date)

;

'''

cursor.execute(sql6)

# for i in cursor.fetchall():
#     print(i)
    
keymetrics_table = cursor.fetchall()

In [22]:
keymetrics__df = pd.DataFrame(keymetrics_table,columns = ['year_month','total_revenue','total_customers','total_invoices','avg_purchase','customer_value'])
keymetrics__df.to_sql('eshop_keymetrics__df', conn, if_exists= 'replace')

keymetrics__df

,year_month,total_revenue,total_customers,total_invoices,avg_purchase,customer_value
0,2010-12-01,554604.02,948,1708,324.71,180.23
1,2011-01-01,475074.38,783,1236,384.36,243.49
2,2011-02-01,436546.15,798,1202,363.18,241.11
3,2011-03-01,579964.61,1020,1619,358.22,225.69
4,2011-04-01,426047.85,899,1384,307.84,199.96
5,2011-05-01,648251.08,1079,1849,350.60,204.59
6,2011-06-01,608013.16,1051,1707,356.19,219.31
7,2011-07-01,574238.48,993,1593,360.48,224.70
8,2011-08-01,616368.00,980,1544,399.20,253.38
9,2011-09-01,931440.37,1302,2078,448.24,280.85
10,2011-10-01,974603.59,1425,2263,430.67,271.19
11,2011-11-01,1132407.74,1711,3086,366.95,203.45

In [23]:
keymetrics__df

,year_month,total_revenue,total_customers,total_invoices,avg_purchase,customer_value
0,2010-12-01,554604.02,948,1708,324.71,180.23
1,2011-01-01,475074.38,783,1236,384.36,243.49
2,2011-02-01,436546.15,798,1202,363.18,241.11
3,2011-03-01,579964.61,1020,1619,358.22,225.69
4,2011-04-01,426047.85,899,1384,307.84,199.96
5,2011-05-01,648251.08,1079,1849,350.60,204.59
6,2011-06-01,608013.16,1051,1707,356.19,219.31
7,2011-07-01,574238.48,993,1593,360.48,224.70
8,2011-08-01,616368.00,980,1544,399.20,253.38
9,2011-09-01,931440.37,1302,2078,448.24,280.85
10,2011-10-01,974603.59,1425,2263,430.67,271.19
11,2011-11-01,1132407.74,1711,3086,366.95,203.45

## Customer info per country

In [24]:
# customers per country

sql7='''
select
        country
        ,sum(cast(invoice_revenue as numeric)) as total_revenue
        ,count(distinct eagg.customer_id) as total_customers
        ,count(distinct invoice_no) as total_num_invoices
        ,round(sum(cast(invoice_revenue as numeric))/ count(invoice_no),2)  as avg_invoice_revenue
        ,round(cast(count(distinct invoice_no) as numeric) / cast(count(distinct eagg.customer_id) as numeric),2) as avg_num_purchases_per_customer
        ,round((sum(cast(invoice_revenue as numeric))/ count(invoice_no)) / (cast(count(distinct invoice_no) as numeric) / cast(count(distinct eagg.customer_id) as numeric)),2) as customer_value_per_purchase
        ,round(avg(cast(invoice_purchase_frequency as numeric)),2) as avg_time_between_first_and_lastest_purchase


from eshop_agg eagg left join eshop_cust ecust on ecust.customer_id = eagg.customer_id
group by country
order by sum(cast(invoice_revenue as numeric)) desc
;
'''

cursor.execute(sql7)
    
countries_table = cursor.fetchall()

In [25]:
countries__df = pd.DataFrame(countries_table,columns = ['country','total_revenue','total_customers','total_num_invoices','avg_invoice_revenue','avg_num_purchases_per_customer','customer_value_per_purchase','avg_time_between_first_and_lastest_purchase'])

countries__df.to_sql('eshop_countries__df', conn, if_exists= 'replace')

countries__df

,country,total_revenue,total_customers,total_num_invoices,avg_invoice_revenue,avg_num_purchases_per_customer,customer_value_per_purchase,avg_time_between_first_and_lastest_purchase
0,United Kingdom,6469952.92,3916,19027,340.04,4.86,69.98,26.43
1,Netherlands,272933.52,9,98,2785.04,10.89,255.77,13.61
2,EIRE,243308.85,3,309,787.41,103.00,7.64,3.01
3,Germany,213893.51,94,581,368.15,6.18,59.56,23.11
4,France,189664.01,86,437,434.01,5.08,85.41,26.31
5,Australia,137077.27,9,69,1986.63,7.67,259.13,27.44
6,Switzerland,55739.40,21,71,785.06,3.38,232.20,26.49
7,Spain,54503.15,30,102,534.34,3.40,157.16,40.32
8,Belgium,39501.53,25,114,346.50,4.56,75.99,30.14
9,Sweden,36595.91,8,44,831.73,5.50,151.22,24.82
10,Japan,35457.55,8,27,1313.24,3.38,389.11,34.07
11,Norway,32377.76,10,37,875.07,3.70,236.51,30.16
12,Portugal,26257.86,19,65,403.97,3.42,118.08,25.80
13,Finland,21096.06,11,44,479.46,4.00,119.86,26.50
14,Channel Islands,19892.14,9,31,641.68,3.44,186.29,33.94
15,Denmark,18599.24,8,20,929.96,2.50,371.98,54.05
16,Italy,16690.06,15,54,309.08,3.60,85.85,28.87
17,Cyprus,13037.54,8,19,686.19,2.38,288.92,32.91
18,Austria,9471.12,11,18,526.17,1.64,321.55,45.74
19,Singapore,9120.39,1,10,912.04,10.00,91.20,26.70
20,Poland,7213.14,6,24,300.55,4.00,75.14,31.29
21,Israel,6994.25,4,6,1165.71,1.50,777.14,24.67
22,Iceland,4085.18,1,6,680.86,6.00,113.48,54.67
23,Greece,4029.53,3,5,805.91,1.67,483.54,18.80
24,Canada,3666.38,4,6,611.06,1.50,407.38,4.17
25,Unspecified,2667.07,4,8,333.38,2.00,166.69,26.63
26,Malta,2536.28,2,9,281.81,4.50,62.62,18.67
27,United Arab Emirates,1902.28,2,3,634.09,1.50,422.73,7.00
28,Lebanon,1693.88,1,1,1693.88,1.00,1693.88,0.00
29,Lithuania,1661.06,1,4,415.27,4.00,103.82,0.75
30,European Community,1291.75,1,5,258.35,5.00,51.67,17.20
31,Brazil,1143.60,1,1,1143.60,1.00,1143.60,0.00
32,USA,1115.64,3,4,278.91,1.33,209.18,0.50
33,RSA,1002.31,1,1,1002.31,1.00,1002.31,0.00
34,Czech Republic,707.72,1,5,141.54,5.00,28.31,52.60
35,Bahrain,548.40,2,2,274.20,1.00,274.20,0.00
36,Saudi Arabia,131.17,1,2,65.59,2.00,32.79,3.50

### Maybe: 

cohort analysis:
new customer is a customer that has no previous purchases, 
determine new customer start date to create cohort
see how each cohort behaves in terms of revenue and sales

# Create graph in vega-lite

Revenue per month from 'eshop_keymetrics__df' @ postgreSQL and keymetrics_df in pandas

In [26]:
keymetrics__df

,year_month,total_revenue,total_customers,total_invoices,avg_purchase,customer_value
0,2010-12-01,554604.02,948,1708,324.71,180.23
1,2011-01-01,475074.38,783,1236,384.36,243.49
2,2011-02-01,436546.15,798,1202,363.18,241.11
3,2011-03-01,579964.61,1020,1619,358.22,225.69
4,2011-04-01,426047.85,899,1384,307.84,199.96
5,2011-05-01,648251.08,1079,1849,350.60,204.59
6,2011-06-01,608013.16,1051,1707,356.19,219.31
7,2011-07-01,574238.48,993,1593,360.48,224.70
8,2011-08-01,616368.00,980,1544,399.20,253.38
9,2011-09-01,931440.37,1302,2078,448.24,280.85
10,2011-10-01,974603.59,1425,2263,430.67,271.19
11,2011-11-01,1132407.74,1711,3086,366.95,203.45

In [27]:
data = keymetrics__df

data.dtypes

year_month         datetime64[ns]
total_revenue              object
total_customers             int64
total_invoices              int64
avg_purchase               object
customer_value             object
dtype: object

In [28]:
# note that there are only 9 days for Jan so far

data['total_revenue'] = data['total_revenue'].astype(np.float32)
data.dtypes

subset = data[['year_month','total_revenue']]

alt.Chart(subset).mark_bar().to_json() # this works

alt.Chart(subset).mark_bar().encode(
    x=alt.X('year_month',timeUnit='month'),
    y='total_revenue'

)

alt.Chart(...)

In [29]:
chart_json = alt.Chart(subset).mark_bar().to_json()

parsed = json.loads(chart_json)
print(json.dumps(parsed, indent=4, sort_keys=True))

{
    "$schema": "https://vega.github.io/schema/vega-lite/v4.17.0.json",
    "config": {
        "view": {
            "continuousHeight": 300,
            "continuousWidth": 400
        }
    },
    "data": {
        "name": "data-b18f8038f10384eadb305234d19c98b1"
    },
    "datasets": {
        "data-b18f8038f10384eadb305234d19c98b1": [
            {
                "total_revenue": 554604.0,
                "year_month": "2010-12-01T00:00:00"
            },
            {
                "total_revenue": 475074.375,
                "year_month": "2011-01-01T00:00:00"
            },
            {
                "total_revenue": 436546.15625,
                "year_month": "2011-02-01T00:00:00"
            },
            {
                "total_revenue": 579964.625,
                "year_month": "2011-03-01T00:00:00"
            },
            {
                "total_revenue": 426047.84375,
                "year_month": "2011-04-01T00:00:00"
            },
            {
                "total_revenue": 648251.0625,
                "year_month": "2011-05-01T00:00:00"
            },
            {
                "total_revenue": 608013.1875,
                "year_month": "2011-06-01T00:00:00"
            },
            {
                "total_revenue": 574238.5,
                "year_month": "2011-07-01T00:00:00"
            },
            {
                "total_revenue": 616368.0,
                "year_month": "2011-08-01T00:00:00"
            },
            {
                "total_revenue": 931440.375,
                "year_month": "2011-09-01T00:00:00"
            },
            {
                "total_revenue": 974603.5625,
                "year_month": "2011-10-01T00:00:00"
            },
            {
                "total_revenue": 1132407.75,
                "year_month": "2011-11-01T00:00:00"
            }
        ]
    },
    "mark": "bar"
}

In [33]:
parsed

{'$schema': 'https://vega.github.io/schema/vega-lite/v4.17.0.json',
 'config': {'view': {'continuousHeight': 300, 'continuousWidth': 400}},
 'data': {'values': [{'year_month': '2010-12-01', 'total_revenue': 554604.0},
   {'year_month': '2011-01-01', 'total_revenue': 475074.375},
   {'year_month': '2011-02-01', 'total_revenue': 436546.15625},
   {'year_month': '2011-03-01', 'total_revenue': 579964.625},
   {'year_month': '2011-04-01', 'total_revenue': 426047.84375},
   {'year_month': '2011-05-01', 'total_revenue': 648251.0625},
   {'year_month': '2011-06-01', 'total_revenue': 608013.1875},
   {'year_month': '2011-07-01', 'total_revenue': 574238.5},
   {'year_month': '2011-08-01', 'total_revenue': 616368.0},
   {'year_month': '2011-09-01', 'total_revenue': 931440.375},
   {'year_month': '2011-10-01', 'total_revenue': 974603.5625},
   {'year_month': '2011-11-01', 'total_revenue': 1132407.75}]},
 'datasets': {'data-b18f8038f10384eadb305234d19c98b1': [{'total_revenue': 554604.0,
    'year_month': '2010-12-01T00:00:00'},
   {'total_revenue': 475074.375, 'year_month': '2011-01-01T00:00:00'},
   {'total_revenue': 436546.15625, 'year_month': '2011-02-01T00:00:00'},
   {'total_revenue': 579964.625, 'year_month': '2011-03-01T00:00:00'},
   {'total_revenue': 426047.84375, 'year_month': '2011-04-01T00:00:00'},
   {'total_revenue': 648251.0625, 'year_month': '2011-05-01T00:00:00'},
   {'total_revenue': 608013.1875, 'year_month': '2011-06-01T00:00:00'},
   {'total_revenue': 574238.5, 'year_month': '2011-07-01T00:00:00'},
   {'total_revenue': 616368.0, 'year_month': '2011-08-01T00:00:00'},
   {'total_revenue': 931440.375, 'year_month': '2011-09-01T00:00:00'},
   {'total_revenue': 974603.5625, 'year_month': '2011-10-01T00:00:00'},
   {'total_revenue': 1132407.75, 'year_month': '2011-11-01T00:00:00'}]},
 'mark': 'bar'}

In [32]:
VegaLite(parsed,subset)

#### Close cursor

In [ ]:
# closes cursor

conn1.commit()
conn1.close()